<main class="detail product">
  <h2>Product detail</h2>
  <div class="buttons">
    <form action="/product/<%= product.productId %>/delete" method="post">
      <button class="delete" type="submit" onclick="return confirm('Are you sure?');">
        Delete
      </button>
    </form>
    <a href="/product/<%= product.productId %>/update">
      <button>Edit</button>
    </a>
  </div>
  <div class="information">
    <p>
      <span>Product name:</span>
      <%= product.name %>
    </p>
    <p>
      <span>Product ID:</span>
      <%= product.productId %>
    </p>
    <p>
      <span>Price:</span>
      <%= product.price %>
    </p>
    <p>
      <span>Category:</span>
      <%= categoryName %>
    </p>
    <p>
      <span>Added at:</span>
      <%= product.createdAt %>
    </p>
    <p><span>Options</span></p>
    <ul>
      <% options.forEach(option => { %>
      <li><%= option.name %>, price: <%= option.price %></li>
      <% }) %>
    </ul>
  </div>
</main>