<main>
  <h2>Option detail</h2>
  <form style="display: contents" action="/option/<%= option.optionId %>/delete" method="post">
    <button type="submit" style="background: red; color: #fff" onclick="return confirm('Are you sure?');">
      Delete
    </button>
  </form>
  <a style="text-decoration: none" href="/option/<%= option.optionId %>/update">
    <button>Edit</button>
  </a>
  <p>
    <span >Option name:</span>
    <%= option.name %>
  </p>
  <p>
    <span >Option ID:</span>
    <%= option.optionId %>
  </p>
  <p><span >Price</span>
    <%= option.price %>
  </p>
  <p>
    <span >Added at:</span>
    <%= option.createdAt %>
  </p>
</main>