<main>
  <h2>Product detail</h2>
  <form style="display: contents" action="/product/<%= productWithCategoryName.productId %>/delete" method="post">
    <button type="submit" style="background: red; color: #fff" onclick="return confirm('Are you sure?');">
      Delete
    </button>
  </form>
  <a style="text-decoration: none" href="/product/<%= productWithCategoryName.productId %>/update">
    <button>Edit</button>
  </a>
  <p>
    <span style="font-weight: bold">Product name:</span>
    <%= productWithCategoryName.name %>
  </p>
  <p>
    <span style="font-weight: bold">Product ID:</span>
    <%= productWithCategoryName.productId %>
  </p>
  <p>
    <span style="font-weight: bold">Price:</span>
    <%= productWithCategoryName.price %>
  </p>
  <p>
    <span style="font-weight: bold">Category:</span>
    <%= productWithCategoryName.categoryName %>
  </p>
  <p>
    <span style="font-weight: bold">Added at:</span>
    <%= productWithCategoryName.createdAt %>
  </p>
  <p><span style="font-weight: bold">Options</span></p>
  <ul>
    <% options.forEach(option => { %>
    <li><%= option.name %></li>
    <% }) %>
  </ul>
</main>