<main>
  <h2>Category edit</h2>
  <%- include('../errors/category-errors') %>
  <form action="/category/<%= category.categoryId %>/update" method="post">
    <a href="/category/<%= category.categoryId %>" style="text-decoration: none">
      <button type="button">Cancel</button>
    </a>
    <button type="submit">Save</button>
    <p>
      <label for="category-name" style="font-weight: bold">Category name:</label>
      <input type="text" name="category-name" id="category-name" value="<%= locals.prev ? prev['category-name'] : category.name %>" autofocus required />
    </p>
    <p>
      <span style="font-weight: bold">Category ID:</span>
      <%= category.categoryId %>
    </p>
    <p>
      <span style="font-weight: bold">Added at:</span>
      <%= category.createdAt %>
    </p>
    <p><span style="font-weight: bold">Products</span></p>
    <ul>
      <% products.forEach(product => { %>
      <li><%= product.name %></li>
      <% }) %>
    </ul>
  </form>
</main>