<main class="update category">
  <h2>Category edit</h2>
  <form action="/category/<%= category.categoryId %>/update" method="post">
    <div class="buttons">
      <a href="/category/<%= category.categoryId %>" style="text-decoration: none">
        <button type="button">Cancel</button>
      </a>
      <button type="submit" onclick="return prompt('Enter admin pw.') === '<%= adminPw %>';">Save</button>
    </div>
    <p>
      <label for="category-name">Category name:</label>
      <input type="text" name="category-name" id="category-name" value="<%= locals.prev ? prev.categoryName : category.name %>" autofocus required />
    </p>
    <p>
      <span>Category ID:</span>
      <%= category.categoryId %>
    </p>
    <p>
      <span>Added at:</span>
      <%= category.createdAt %>
    </p>
    <p><span>Products</span></p>
    <ul>
      <% products.forEach(product => { %>
      <li><%= product.name %></li>
      <% }) %>
    </ul>
  </form>
  <%- include('../errors/category-errors') %>
</main>