<main class="update product">
  <h2>Product edit</h2>
  <form action="/product/<%= product.productId %>/update" method="post">
    <div class="buttons">
      <a href="/product/<%= product.productId %>">
        <button type="button">Cancel</button>
      </a>
      <button type="submit">Save</button>
    </div>
    <p>
      <label for="product-name">Product name:</label>
      <input type="text" name="product-name" id="product-name" value="<%= product.name %>" autofocus required />
    </p>
    <p>
      <span>Product ID:</span>
      <%= product.productId %>
    </p>
    <p>
      <label for="product-price">Price:</label>
      <input type="number" name="product-price" id="product-price" value="<%= product.price %>">
    </p>
    <p>
      <label for="category-id">Category:</label>
      <select name="category-id" id="category-id" required>
        <option value="">Choose a category</option>
        <% categories.forEach(category => { %>
        <option <%= category.categoryId === product.categoryId && "selected" %> value="<%= category.categoryId %>">
          <%= category.name %>
        </option>
        <% }) %>
      </select>
    </p>
    <p>
      <span>Added at:</span>
      <%= product.createdAt %>
    </p>
    <fieldset class="options" style="padding-right: 2rem;">
      <legend>Options</legend>
      <ul>
        <% options.forEach(option => { %>
        <li style="display:flex; justify-content: space-between;">
          <label for="o-<%= option.optionId %>"><%= option.name %></label>
          <input type="checkbox" name="options" id="o-<%= option.optionId %>" value="<%= option.optionId %>" <%= productOptionIds.includes(option.optionId) && "checked"  %>>
        </li>
        <% }) %>
      </ul>
    </fieldset>
  </form>
  <%- include("../errors/product-errors") %>
</main>