<main class="add product">
  <section class="guide">
    <h2>Add new product</h2>
    <p>Fill the form below to add a new product</p>
  </section>
  <section class="form-wrapper">
    <h3>New Product</h3>
    <form action="/product/new" method="post">
      <div class="input category">
        <label for="category-id">Category:</label>
        <select name="category-id" id="category-id" required>
          <option value="" disabled <%= !locals.prev && "selected" %>>Choose a category</option>
          <% categories.forEach(category => { %>
          <option <%= locals.prev && Number(prev.categoryId) === category.categoryId && "selected" %> value="<%= category.categoryId %>">
            <%= category.name %>
          </option>
          <% }) %>
        </select>
      </div>
      <div class="input product-name">
        <label for="product-name">Name:</label>
        <input type="text" name="product-name" id="product-name" value="<%= locals.prev && prev.productName %>" required />
      </div>
      <div class="input product-price">
        <label for="product-price">Price:</label>
        <input type="number" name="product-price" id="product-price" value="<%= locals.prev && prev.productPrice %>" required />
      </div>
      <fieldset class="input options">
        <legend>Options</legend>
        <ul>
          <% options.forEach(option => { %>
          <li style="display:flex; justify-content: space-between;">
            <label for="o-<%= option.optionId %>"><%= option.name %></label>
            <input type="checkbox" name="options" id="o-<%= option.optionId %>" value="<%= option.optionId %>" <%= locals.prev && prev.options?.includes(String(option.optionId)) && "checked" %>>
          </li>
          <% }) %>
        </ul>
      </fieldset>
      <button type="submit">Create</button>
    </form>
    <%- include("../errors/product-errors") %>
  </section>
</main>